.copyright {
  max-width: 1920px;
  margin: 0 auto;
  text-align: center;
  color: $color-font;
  background: #000;

  .copyright__link {
    text-decoration: none;
    color: $color-font;
    font-size: 12px;
  }
}
