.lumos-button-close {
  position: fixed;
  right: 12px;
  top: 104px;
  background: none;
  border: 0;
  box-sizing: border-box;
  color: transparent;
  cursor: pointer;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  letter-spacing: 1.5px;
  line-height: 90px;
  outline: none;
  overflow: hidden;
  padding: 10px 0 0;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in;
  width: 100px;
  @media (max-width: $bp-medium) {
    display: none;
  }
  @media (max-width: $bp-xlarge) {
    line-height: 36px;
    top: 72px;
    width: 72px;
  }
}
.lumos-button-close::before,
.lumos-button-close::after {
  background-color: white;
  content: '';
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  transform-origin: center left;
  transition: all 0.2s ease-in;
  width: 141.4214px;
  @media (max-width: $bp-xlarge) {
    width: 100px;
  }
  z-index: -1;
}
.lumos-button-close::before {
  top: 0;
  transform: rotate(45deg);
}
.lumos-button-close::after {
  bottom: 0;
  transform: rotate(-45deg);
}
