{% block html_head_container %}

{% include 'html-header.twig' %}
{% block head %}
{% endblock %}
</head>
{% endblock %}

<body class="{{body_class}}">

    {% block content %}

    This is base.twig

    {% endblock %}

    {% block footer %}
    <footer id="footer">
        {% include 'footer.twig' %}
    </footer>
    {{ function('wp_footer') }}
    {% endblock %}

    {% block scripts %}

    {% endblock %}

</body>

</html>