<div class="copyright">
    <a class="copyright__link" target="_blank" href="https://sitepro4web.com/">IHOR KHALETSKYI &#169;
        {{ 'now'|date('Y') }}</a>
    <a class="copyright__link" target="_blank" href="https://github.com/ik-code/ik-fewp-test"> / GitHub / </a>
    <a class="copyright__link" target="_blank" href="http://v1.sitepro4web.com/fewp-asgmt/">Live Example of this project</a>
</div>